body {
    
}
#password {
    width: 90px;
    font-weight: bold;
}
#copied{
    display: none;
    font-weight: bold;
    text-align: center;
}

.container {
    padding: 50px;
    background-color: #d88c8c;
    border-radius: 10px;
    text-align: center;
}
button {
    background-color: #a7cd0e;
}
